/*
/*/
!/src/
!.gitignore
!/LICENSE
!/README.md
!.editorconfig

!/jdatablockfs.core/
!/jdatablockfs.tools/
!/jdatablockfs.run/
!/Jorth/
!/Fuzzer/
!pom.xml

!/.idea/
!*.iml
!*/*.iml
!/run/

/*/target/
