/*
/*/
!/src/
!.gitignore
!/LICENSE
!/README.md
!/CODE_OF_CONDUCT.md
!/jdatablockfs.tools/
!/jdatablockfs.run/
!/jdatablockfs.gui/
!/Jorth/
!pom.xml
!.editorconfig
!/.idea/
!*.iml
!*/*.iml
/*/target/

.idea/**/JPAMappingSettings.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/aws.xml

.idea/**/contentModel.xml

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

.idea/**/gradle.xml
.idea/**/libraries

.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules

cmake-build-*/

.idea/**/mongoSettings.xml
