# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

saveactions_settings.xml
jarRepositories.xml
JPAMappingSettings.xml
git_toolbox_prj.xml
/copyright/

misc.xml
compiler.xml
**/workspace.xml
**/tasks.xml
**/usage.statistics.xml
**/dictionaries
**/shelf
**/contentModel.xml

# Sensitive or high-churn files
**/dataSources/
**/dataSources.ids
**/dataSources.local.xml
**/sqlDataSources.xml
**/dynamic.xml
**/uiDesigner.xml
**/dbnavigator.xml